module.exports = {
    port: 3000,
    db: {
        credentials: {
            user: 'dbuser',
            password: 'dbpassword',
            host: 'dbhost',
            database: 'dbname',
            port: 5432,
            ssl: false
        }
    }
}