module.exports = {
    port: 3000,
    db: {
        credentials: {
            user: 'dbuser',
            password: 'dbpassword',
            host: 'dbhost',
            database: 'dbname',
            port: 5432,
            ssl: false
        }
    },

    twitter: {
        credentials: {
            api_key: 'API_KEY',
            api_secret: 'API_SECRET',
            access_token: 'ACCESS_TOKEN',
            access_secret: 'ACCESS_TOKEN_SECRET'
        }
    }
}