<!doctype html>
<html>
<head>
<title>{{ title }}</title>
<meta property="og:title" content="{{ title }}" />
<meta property="og:site_name" content="Starcraft 2 Highlights"/>
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" content="http://img.youtube.com/vi/{{ yt }}/maxresdefault.jpg" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@sc2hl" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="http://img.youtube.com/vi/{{ yt }}/maxresdefault.jpg" />
</head>

<body>

</body>
</html>